html {
    font-size: 16px;
}

a {
    cursor: pointer;
}

.header-top {
    border-bottom: 1px solid rgb(161, 159, 159);
}

.navbar-brand {
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
}

.header-bottom .btn {
    font-size: 0.8125rem;
    font-family: 'Inter', sans-serif;
}

.main-description__title {
    width: 33.875rem;
    font-family: 'Inter', sans-serif;
    font-size: 3.75rem;
    line-height: 120%;
}

.main-description__text {
    width: 30.4375rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 300;
    line-height: 160%
}

.footer a {
    color: #5222D0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    line-height: 160%;
}

.btn {
    background-color: #5222D0;
    border: none;
    border-radius: 3rem;
}

.main .btn {
    font-family: 'Inter', sans-serif;
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

a>img,
a>span,
button>img,
button>span {
    display: inline-block;
    vertical-align: middle;
}